/*
 * ROBOTO
 */
@font-face {
	font-family:'Roboto';
	src:url('../fonts/Roboto/Roboto-Thin.ttf');
	font-weight:100;
	font-style:normal;
}

@font-face {
	font-family:'Roboto';
	src:url('../fonts/Roboto/Roboto-ThinItalic.ttf');
	font-weight:100;
	font-style:italic;
}


@font-face {
	font-family:'Roboto';
	src:url('../fonts/Roboto/Roboto-Light.ttf');
	font-weight:300;
	font-style:normal;
}

@font-face {
	font-family:'Roboto';
	src:url('../fonts/Roboto/Roboto-LightItalic.ttf');
	font-weight:300;
	font-style:italic;
}

@font-face {
	font-family:'Roboto';
	src:url('../fonts/Roboto/Roboto-Regular.ttf');
	font-weight:400;
	font-style:normal;
}

@font-face {
	font-family:'Roboto';
	src:url('../fonts/Roboto/Roboto-Italic.ttf');
	font-weight:400;
	font-style:italic;
}

@font-face {
	font-family:'Roboto';
	src:url('../fonts/Roboto/Roboto-Bold.ttf');
	font-weight:700;
	font-style:normal;
}

@font-face {
	font-family:'Roboto';
	src:url('../fonts/Roboto/Roboto-BoldItalic.ttf');
	font-weight:700;
	font-style:italic;
}

/*
 * ROBOTO CONDENSED
 */
@font-face {
	font-family:'Roboto Condensed';
	src:url('../fonts/Roboto_Condensed/RobotoCondensed-Light.ttf');
	font-weight:300;
	font-style:normal;
}

@font-face {
	font-family:'Roboto Condensed';
	src:url('../fonts/Roboto_Condensed/RobotoCondensed-LightItalic.ttf');
	font-weight:300;
	font-style:italic;
}

@font-face {
	font-family:'Roboto Condensed';
	src:url('../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf');
	font-weight:400;
	font-style:normal;
}

@font-face {
	font-family:'Roboto Condensed';
	src:url('../fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf');
	font-weight:400;
	font-style:italic;
}

@font-face {
	font-family:'Roboto Condensed';
	src:url('../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf');
	font-weight:700;
	font-style:normal;
}

@font-face {
	font-family:'Roboto Condensed';
	src:url('../fonts/Roboto_Condensed/RobotoCondensed-BoldItalic.ttf');
	font-weight:700;
	font-style:italic;
}