body {
	background-image:url('../images/background.jpg'),url('../images/btn-ka-sprite.png');
	background-image: -webkit-image-set( url('../images/background.jpg') 1x, url('../images/background@2x.jpg') 2x),-webkit-image-set( url('../images/btn-ka-sprite.png') 1x, url('../images/btn-ka-sprite@2x.png') 2x);
	background-repeat: no-repeat;
	background-size: cover;
	color: #FFF;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 10px;
	font-weight: 100;
	position:relative;
	margin:0;
	padding:0;
}

.invoice {
	display:block;
  	opacity:0.9;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-ms-transition:all 0.25s;
	-o-transition:all 0.25s;
	transition: all 0.25s;
	padding:25pt 0 5pt;
}

.animateinvoice {
		padding:25pt 0 5pt;
		opacity:0;
}

.text-center {
	text-align: center;
}

.merchant-name {
	font-size:18pt;
	font-weight:400;
	/*margin:40pt 0 10pt;*/
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-ms-transition:all 0.25s;
	-o-transition:all 0.25s;
	transition: all 0.25s;
	-webkit-user-select: none;
}

.amount {
	font-family: 'Roboto', sans-serif;
	font-size:58pt;
	letter-spacing: -0.05em;
}

.user-account {
	background-image:url('../images/card_shadow.png');
	background-image: -webkit-image-set( url('../images/card_shadow.png') 1x, url('../images/card_shadow@2x.png') 2x);
	background-repeat: no-repeat;
	width:320px;
	height:300px;
	margin:15px auto 0 auto;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-ms-transition:all 0.25s;
	-o-transition:all 0.25s;
	transition: all 0.25s;
}

.user-account-card {
	background-image:url('../images/user-account-bg.png');
	background-image: -webkit-image-set( url('../images/user-account-bg.png') 1x, url('../images/user-account-bg@2x.png') 2x);
	background-repeat: no-repeat;
	width:320px;
	height:165px;
	padding-top:70px;
}


.animate-user-account {
	margin-top:-90px !important;	
}


@media (min-height: 500px) {
	
	.animate-user-account {
		margin-top:10% !important;	
}

	.animateinvoice {
		padding:5pt 0 5pt;
		opacity:0.9;
	}
	
	.user-account {
		margin:15% auto 0 auto;
	}
}


@media (min-height: 800px) {
	.animate-user-account {
		margin-top:10% !important;	
}

	.animateinvoice {
		padding:5pt 0 5pt;
		opacity:0.9;
	}
	
	.user-account {
		margin:15% auto 0 auto;
	}
}

@media (min-height: 1100px) {
	.animate-user-account {
		margin-top:16% !important;	
}
	.animateinvoice {
		padding:5pt 0 5pt;
		opacity:0.9;
	}
	.user-account {
		margin:24% auto 0 auto;
	}
}



.account-id {
	font-size:18pt;
	font-weight:400;
}

.expiry-date {
	font-size:14pt;
	font-weight:400;
	margin:24px 0px 0px 50px;
	float:left;
}

.trans-logo {
	float:right;
	margin:18px 52px 0px 0px;
}

#touch-btn {
	background-image:url('../images/btn-ka-sprite.png');
	background-image: -webkit-image-set( url('../images/btn-ka-sprite.png') 1x, url('../images/btn-ka-sprite@2x.png') 2x);
	background-repeat: no-repeat;
	background-position:-212px 0px;
	border:none;
	width:106px;
	height:107px;
	position:absolute;
	top:130px;
	left:96px;
	-webkit-user-select: none;
	z-index:100;
}

#touch-btn.active {
	background-image:url('../images/btn-ka-sprite.png');
	background-image: -webkit-image-set( url('../images/btn-ka-sprite.png') 1x, url('../images/btn-ka-sprite@2x.png') 2x);
	background-position:-106px 0px;
}

#touch-btn.disable {
	background-image:url('../images/btn-ka-sprite.png');
	background-image: -webkit-image-set( url('../images/btn-ka-sprite.png') 1x, url('../images/btn-ka-sprite@2x.png') 2x);
	background-position:0px 0px;
}

.c-menu-wrapper {
	float:left;
	position:absolute;
	bottom:0px;
	width:100%;
}

.c-menu {
	width:295px;
	/*height:225px;*/
	height:240px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
}

.droppable {
	width:61px;
	height:61px; 
	background-repeat: no-repeat;
	background-size: cover;
	border:none;
	opacity: 0.0;
	position:absolute;
	top:110px;
	left:130px;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-ms-transition:all 0.25s;
	-o-transition:all 0.25s;
	transition: all 0.25s;
	-webkit-user-select: none;
	z-index:100;
}


@media(max-height:356px){
	.invoice{
		padding:2pt 0 2pt;
	}
	
	.amount{
		font-size:54px;
	}
	
	.animateinvoice .merchant-name{
		font-size:20px;
	}
	
	.user-account{
		margin:2px auto 0 auto;
		height:auto;
	}

	.c-menu {
		height:230px !important;
	}
	
}


#cancel {
	background-image:url('../images/btn-cancel-up.png');
	background-image: -webkit-image-set( url('../images/btn-cancel-up.png') 1x, url('../images/btn-cancel-up@2x.png') 2x);
}

#cancel.open {
	left:24px;
	top:20px;
	opacity: 0.8;
	z-index:101;
}

#cancel.open1 {
	left:34px !important;
	top:30px !important;	
}

#cancel.drop-hover {
	background-image:url('../images/btn-cancel-dwn.png');
	background-image: -webkit-image-set( url('../images/btn-cancel-dwn.png') 1x, url('../images/btn-cancel-dwn@2x.png') 2x);
	width:85px;
	height:85px;
	background-size:cover;
	transform:scale(1);
	-ms-transform:scale(1); /* IE 9 */
	-webkit-transform:scale(1);
	left:24px !important;
	top:20px !important;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-ms-transition:all 0.25s;
	-o-transition:all 0.25s;
	transition: all 0.25s;
	/*margin:12px 0px 0px 12px;*/
}

#confirm {
	background-image:url('../images/btn-confirm-up.png');
	background-image: -webkit-image-set( url('../images/btn-confirm-up.png') 1x, url('../images/btn-confirm-up@2x.png') 2x);
}

#confirm.open {
	left:210px;
	top:20px;
	opacity: 0.8;
	z-index:101;
}

#confirm.open1 {
	left:200px !important;
	top:30px !important;
}

#confirm.drop-hover {
	background-image:url('../images/btn-confirm-dwn.png');
	background-image: -webkit-image-set( url('../images/btn-confirm-dwn.png') 1x, url('../images/btn-confirm-dwn@2x.png') 2x);
	width:85px;
	height:85px;
	left:190px !important;
	top:20px !important;
	background-size:cover;
	transform:scale(1);
	-ms-transform:scale(1); /* IE 9 */
	-webkit-transform:scale(1);
	/*margin:12px 12px 0px 0px;*/
}

.overlay{
	background-image:url('../images/modal-overlay@2x.png');
	background-image: -webkit-image-set( url('../images/modal-overlay@2x.png') 1x, url('../images/modal-overlay@2x.png') 2x);
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background-repeat:repeat-x;
	background-position:bottom;
	opacity:0;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-ms-transition:all 0.25s;
	-o-transition:all 0.25s;
	transition: all 0.25s;
	-webkit-user-select: none;
	z-index:99;
}



.animateoverlay {
	opacity:0.9;	
}

.cross {
	background-image:url('../images/cross.png');
	background-image: -webkit-image-set( url('../images/cross.png') 1x, url('../images/cross@2x.png') 2x);
	position:absolute;
	top:40%;
	left:45%;
	z-index:1000;
	width:61px;
	height:61px;
	background-size:cover;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-ms-transition:all 0.25s;
	-o-transition:all 0.25s;
	transition: all 0.25s;
	-webkit-user-select: none;
	opacity:0;
}

.check {
	background-image:url('../images/check.png');
	background-image: -webkit-image-set( url('../images/check.png') 1x, url('../images/check@2x.png') 2x);
	position:absolute;
	top:40%;
	left:45%;
	z-index:1000;
	width:61px;
	height:61px;
	background-size:cover;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-ms-transition:all 0.25s;
	-o-transition:all 0.25s;
	transition: all 0.25s;
	-webkit-user-select: none;
	opacity:0;
}

.fadeout {
	-webkit-transform: scale(3);
	animation:check 0.25s;
   -moz-animation:check 0.25s; /* Firefox */
   -webkit-animation:check 0.25s; /* Safari and Chrome */
   -o-animation:check 0.25s; /* Opera */
   animation:check 0.25s infinite;
}

@keyframes check {
   0% {opacity:0;}
   50% {opacity:0.4;}
   100% {opacity:0;}
}

@-moz-keyframes check { /* Firefox */
   0% {opacity:0;}
   50% {opacity:0.4;}
   100% {opacity:0;}
}

@-webkit-keyframes check { /* Safari and Chrome */
   0% {opacity:0;}
   50% {opacity:0.4;}
   100% {opacity:0;}
}

@-o-keyframes check { /* Opera */
   0% {opacity:0;}
   50% {opacity:0.4;}
   100% {opacity:0;}
}

